img{ 
height:300px ;
width:300px;
}
#video{
    height:500px ;
    width:500px ;
}
#vdd{
    height: 500px;
    width: 500px;
}
.letra{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#vddd{
    height: 500px;
    width: 500px;
}

#wiu{
    height:500px;
    width:500px;
}
 #teto{
    height:500px;
    width:500px;
 }

 body{
background:#ec0000d7 url("gg.jpg")  ; 
color: #f70000;
 }

